<h1>Show page for: <%= @list.name %></h1>

<h2>Bookmarked Movies</h2>
<% if @can_add_comment %>
  <p>All movies have been commented in this list.</p>
<% else %>
  <%= link_to  "Add a bookmark", new_list_bookmark_path(@list) %>
<% end %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li class="d-flex">
    <h3><%= bookmark.movie.title %></h3>
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <p><%= bookmark.comment %></p>
    <%= link_to bookmark_path(bookmark), method: :delete do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </li>
  <% end %>
</ul>