<h1>Show page for: <%= @list.name %></h1>

<h2>Bookmarked Movies</h2>
<% if @can_add_comment %>
  <p>All movies have been commented in this list.</p>
<% else %>
  <%= link_to  "Add a bookmark", new_list_bookmark_path(@list) %>
<% end %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li class="d-flex justify-content-around">
    <h3><%= bookmark.movie.title %></h3>
    
    <p><%= bookmark.comment %></p>
    <%= (cl_image_tag bookmark.poster_img.key,  width: 150, height: 150, crop: :thumb, radius: 16, border: {width: 4, color: "red"}) if bookmark.poster_img.attached? %>
    <%= link_to bookmark_path(bookmark), method: :delete do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </li>
  <% end %>
</ul>