<h1>
<%= link_to list_path(@list) do %>
  <%= @list.name %>
<% end %> > Create bookmark
</h1>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.association :movie %>
  <%= f.input :poster_img, label: "Movie poster", as: :file %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
